statemachine/document_processing.asl.json
{
  "Comment": "Processes documents uploaded to the document bucket",
  "StartAt": "Get Document Metadata",
  "States": {
    "Get Document Metadata": {
      "Type": "Task",
      "Resource": "${GetDocumentMetadataFunctionArn}",
      "Next": "StartDocumentTextDetection"
    },
    "StartDocumentTextDetection": {
      "Type": "Task",
      "Parameters": {
        "DocumentLocation": {
          "S3Object": {
            "Bucket.$": "$.file.bucket",
            "Name.$": "$.file.key"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:textract:startDocumentTextDetection",
      "ResultPath": "$.textDetection",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get Text Detection Results"
    },
    "Get Text Detection Results": {
      "Type": "Task",
      "Resource": "${GetTextDetectionResultsFunctionArn}",
      "Next": "Is Text Detection Completed"
    },
    "Is Text Detection Completed": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.textDetection.jobStatus",
              "IsPresent": true
            },
            {
              "Variable": "$.textDetection.jobStatus",
              "StringEquals": "SUCCEEDED"
            }
          ],
          "Next": "Insert Document"
        }
      ],
      "Default": "Wait"
    },
    "Insert Document": {
      "Type": "Task",
      "Resource": "${InsertDocumentFunctionArn}",
      "End": true
    }
  }
}